body {
    font-family: Arial, sans-serif;
    background-color:#a1d2ce;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 120%;
}

input[type="text"] {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}
input[type="number"] {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}
button {
    background-color: #0078b7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
    width: 99%;
}
select{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}